*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    align-items: center;
    background-image: url('/images/SET\ UP.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
    background-color:aqua;
    color: #333;
    line-height: 1.6;}
    
.contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
    gap: 20px;
    padding: 40px;}
.navbar {
    background:rgb(142, 13, 129);
    background-image: url('/images/party\ set.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color;
    background-size: cover;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    width: 2000px;
    height: 200px;
}
.navbar .logo {
    width: 100px;
}
.navbar a:hover{
    color: aqua;
}
.logo{
    width: 160px;
    margin-top: 0px;
    cursor: grab;
    display: flex;
    
}
.navbar ul {
    list-style: none;
    display: inline-block;
    margin: 20px;
    margin-top:-50px;
}
.navbar ul li {
    display: inline;
    margin: 0 20px;
}
.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    transition: transform 0.3s ease;
    text-align: center; 
} 
.card:hover {
    transform: translateY(-15px);
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content {
    padding: 20px;
}
.card-content h3 {
    margin:10px;
    color: aqua;
    font-size: 14px;
}
.card-content p {
    color: aqua;
    font-size: 14px;}
.btn {
    display: inline-block;
    padding: 10px 15px;
    background:aqua;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background: #45a049;
}
.content h1{
    margin-top: 80px;
    font-size: 80px;
    font-weight: 800;
    color: #45a049;
    margin-left: 600px;
}
button{
    margin: 300px;
    padding: 15px;
    margin: 25px 5px;
    text-align: center;
    border-radius: 5px;
    color: violet;
    border: 1px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: lightblue;
}
button:hover{
    background-color: turquoise;
    transition: 0.5s;
}
.sign up-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 500px;
    
}
.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
footer{
    color: white;
}
.card-content b{
    color: rgb(76, 144, 144);
    font-style: unset;
    
}
.dropbtn{
    background-color: aqua;
    color: rgb(142, 13, 129);
    padding: 16px;
    font-size: 16px;
    border: none;
    
}
.dropdown{
    position: relative;
    display: inline-block;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(142, 13, 129);
    min-width: 200px;
    box-shadow: #333;
    z-index: 1;
    margin-left: 20px;
}
.dropdown-content a{
    color: aqua;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{background-color: #fff;}
.dropdown:hover .dropdown-content{display: block;}
.dropdown:hover.dropbtn{background-color: aqua;}
